* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
.bg {
  background: url(../img/bg.jpg);
  background-size: cover;
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -1;
}

.slogan {
  color: white;
  margin-top: 24px;
  font-size: 36px;
  font-weight: 400;
}

.mask {
  width: 340px;
  height: 196px;
  -webkit-animation: move 40s infinite;
          animation: move 40s infinite;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  -webkit-mask: url(../svg/seeklogo.com.svg);
          mask: url(../svg/seeklogo.com.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
}
